.home-page {
    padding: 20px;
    text-align: center;
  }
  
  .home-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .home-page nav ul {
    list-style: none;
    padding: 0;
  }
  
  .home-page nav ul li {
    margin: 18px 0;
   
  }
  
  .home-page nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #007bff;
  }
  
  .home-page nav ul li a:hover {
    text-decoration: underline;
  }


.home-page ul {
display:flex;
justify-content: space-around;
  }

  .home-page ul h2  {
    font-size: 1.6rem !important;
    margin-top: 20px;
  }

  .home-page img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
  }